<section >

<div ng-controller="headController"  layout="column">
   <!--Side Menu Navigator -->
		<div layout="row" ng-controller="menuController">
		  <md-sidenav md-component-id="left" class="md-sidenav-left">
			<md-toolbar class="md-tall md-hue-2">
				<span flex></span>
				<div layout="column" class="md-toolbar-tools-bottom inset">
				  <user-avatar></user-avatar>
				  <span></span>
				  <div>{{loggedin_fb.name}}</div>
				  <div>email@domainname.com</div>
				</div>
			  </md-toolbar>
			  
			<a class="btn btn-block btn-social btn-twitter" style="margin-left:10%;width:80%; margin-top:5%;">
				<span class="fa fa-twitter"></span> Sign in with Twitter
			</a>
			
			<a class="btn btn-block btn-social btn-twitter" style="margin-left:10%;width:80%;" ng-click="fb_login()">
				<span class="fa fa-facebook"></span> Sign in with Facebook
			</a>
			
			<a class="btn btn-block btn-social btn-twitter" style="margin-left:10%;width:80%;">
				<span class="fa fa-google-plus"></span> Sign in with Google
			</a>
			
			<a class="btn btn-block btn-social btn-twitter" style="margin-left:10%;width:80%;">
				<span class="fa fa-instagram"></span> Sign in with Instagram
			</a>
			
			<a class="btn btn-block btn-social btn-twitter" style="margin-left:10%;width:80%;">
				<span class="fa fa-linkedin"></span> Sign in with LinkedIn
			</a>
		  
		  
		  <!--Need logout button -->
		  </md-sidenav>
		  
			
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
				<md-button ng-click="openLeftMenu()" style="float:left !important">
			  <i class="fa fa-align-justify x2"></i>
			</md-button>

      <span style="float:center !important">Social Feeds</span>
    </h2>
  </md-toolbar>
  
  		</div>
</div>
	





		  



</section>